<!-- <app-rooms></app-rooms> -->
<!-- <app-header></app-header>
<app-container>
    <app-employee>
        
    </app-employee>
    <h1>this is from ng-content </h1>
</app-container> -->

<!-- <div>
    <ng-template #user>
         <h1>welcome user</h1> 
    </ng-template>
</div> -->
<!-- <button type="button" class="btn btn-primary" [routerLink]="'rooms'">
    Rooms
</button>
<button type="button" class="btn btn-primary" [routerLink]="'employee'">
   Employee
</button> -->
<app-app-nav></app-app-nav>
<router-outlet></router-outlet>